# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# System files
.DS_Store
Thumbs.db

# Python logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Compiled C files
*.so

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Build files
build/
dist/
*.egg-info/
